.borde{
  width: 750px;
  height: 850px;
  background: white;
  margin-top: 20px;
}
.ult{
  width: 750px;
  height: 950px;
  background: white;
  margin-top: 20px;
}


#logosena{
    margin-top: 40px;
    width: 200px;
    height: 200px;
    
}


hr{
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  color: blue;
}

#par1{
 margin-top: 400px;
}

#fin{
  margin-top: 200px;

}

#txt3{
  display: inline-block;
}

#txt4{
  display: inline-block;
}


#icone{
  width: 500px;
  height: 300px;
}

#casoUso{
  margin-right: 300px;
}

body{
  height: auto;
  background: grey;
}

.doc{
  margin-right: 290px;
}

#izq{
  margin-top: 130px;
  margin-right: 210px;
}
table,td,tr {
	border-collapse: collapse;
  border: black 1px solid;
  text-align: center;
 
}

ul,li{
  margin: 20px;
  text-align: left;
}
.TR{
  margin-right: 210px;
}