/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/11/2022, 09:08:11 AM
    Author     : HPLAPTOP01
*/
#pie_pagina{
    
    color: black;
    text-align: center;
    height: 150px;
    margin-top: 40px;
    
}
#lista{
    list-style: none;
}
