
.navbar {

}

.navbar-dark {

}

.bg-dark {

}

.nav-link {

}

.active {

}

.navbar-expand-lg {

}

.navbar-light {

}


#imagen1{
    margin: auto;
  width: 1800px;
  height: 450px;
}

#imagen2{
    margin: auto;
   width: 1800px;
  height: 450px;
}

#imagen3{
    margin: auto;
   width: 1800px;
  height: 450px;
}

footer{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid black 1px;;
    width: 1890px;
    height: 350px;
}

#cuadro1{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-right: 20px;
}